.menu-title-container h1{
    margin: 2rem;
    font-size: 10rem;
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

.menu-title-container hr{
 margin: 5px 0 5px 0;
} 

@media screen and (max-width:600px) {
    .menu-title-container h1{
    
     font-size: 4rem;
    }
}